<link href="../../css/shop.css" rel="stylesheet">

{{>navbar}}

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4">The Bizarre Bazaar</h1>
      <div class="list-group">
        {{#each cat}}
        <a href="/store/{{this.name}}" class="list-group-item">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      {{#if product}}
      {{#each product}}
      <div class="card mt-4">
        <img class="card-img-top img-fluid" src={{this.imgSrc}} alt="">
        <div class="card-body">
          <h3 class="card-title">{{this.name}}</h3>
          <h4>${{this.price}}</h4>
          <p class="card-text">{{this.description}}</p>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <!-- /.card -->
      {{/each}}
      {{/if}}


      <!-- /.col-lg-9 -->
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Product Reviews
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.col-lg-9 -->

</div>

</div>
<!-- /.container -->
<br>
<!-- Footer -->
<footer class="py-5 bg-dark footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
